.subscription {
  text-align: center;
  * {
    color: #fff;
  }
  .back {
    height:      100%;
    width:       100%;
    padding-top: 161px;
    object-fit:  cover;
    display:     flex;
  }
  .content {
    width:         921px;
    background:    #37393B;
    border-radius: 24px;
    padding:       64px 80px;
    position:      absolute;
    top:           0;
    left:          50%;
    transform:     translateX(-50%);
    text-align:    center;
  }
  h2 {
    font-size:     64px;
    font-family:   'Evensong', sans-serif;
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 40px;
  }
  form {
    display:         flex;
    justify-content: space-between;
    flex-wrap:       wrap;
    label {
      width: 30%;
    }
    input {
      width:          100%;
      background:     transparent;
      border:         0;
      border-bottom:  1px solid rgba(255, 255, 255, .2);
      padding-bottom: 8px;
      transition:     .3s linear;
      &:hover {
        border-bottom: 1px solid rgba(#CA4326, .2);
      }
    }
    div {
      width:   33%;
      display: flex;
      label {
        width: 85%;
      }
    }
    button {
      display:        flex;
      align-items:    center;

      text-transform: uppercase;
      background:     transparent;
      border:         0;
      cursor:         pointer;
      border-bottom:  1px solid rgba(255, 255, 255, .2);
      &:hover {
        opacity:       .7;
        border-bottom: 1px solid rgba(#CA4326, .2);
      }
    }
  }
  span {
    font-size:    14px;
    margin-right: 14px;
    transition:   .3s linear;
  }
}

@media(max-width: 1024px) {
  .subscription {
    .content {
      max-width: 750px;
      padding:   51px 23px;
    }
    form {
      label {
        width:          100%;
        padding-bottom: 20px;
      }
      div {
        width:           100%;
        justify-content: space-between;
        label {
          width:          91%;
          padding-bottom: 0;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .subscription {
    padding-top: 25px;
    .back {
      height:     530px;
      width:      100%;
      object-fit: cover;
    }
    .content {
      min-width: 280px;
      width:     90%;
      padding:   51px 33px;
      top:       25px;
    }
    h2 {
      font-size: 40px;
    }
    form {
      width:     100%;
      flex-wrap: wrap;
    }
    label, input {
      width: 100%;
    }
  }
}